# Geospatial Analysis: (Folium not done by me)

The objective of this tutorial is to use geospatial analysis to make decisions about opening up new restaurants(or retail stores, bank branches, airports, etc). For our analysis, we use a dataset consisting of Starbucks and McDonalds store coordinates in New York.

Our tutorial consists of the following steps:


1.   Compute the distance of the stores
2.   Visualize data on a map
3.   Compute number of stores located in a given radius
4.   Compute the closest and farthest stores from Empire State Building

# Imports

In [ ]:
import pandas as pd
import numpy as np
import folium
import geopy.distance

In [ ]:
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="geoapiExercises")
ladd1 = "Jamshedpur"
print("Location address:",ladd1)
l1 = geolocator.geocode(ladd1)
print("Latitude and Longitude of the said address:")
print((l1.latitude, l1.longitude))

ladd2 = "Kamarhati"
print("\nLocation address:",ladd2)
location = geolocator.geocode(ladd2)
print("Latitude and Longitude of the said address:")
print((location.latitude, location.longitude))

Location address: Jamshedpur
Latitude and Longitude of the said address:
(22.8015194, 86.2029579)

Location address: Kamarhati
Latitude and Longitude of the said address:
(22.6810246, 88.3715343)

In [ ]:
geopy.distance.distance((l1.latitude, l1.longitude), (location.latitude, location.longitude)).km

223.14669071130356

In [ ]:
ladd1 = "patiala"
print("Location address:",ladd1)
l1 = geolocator.geocode(ladd1)
print("Latitude and Longitude of the said address:")
print((l1.latitude, l1.longitude))

ladd2 = "Shimoga"
print("\nLocation address:",ladd2)
location = geolocator.geocode(ladd2)
print("Latitude and Longitude of the said address:")
print((location.latitude, location.longitude))

#ladd1 = "Montrose"
#print("Location address:",ladd1)
#l1 = geolocator.geocode(ladd1)
#print("Latitude and Longitude of the said address:")
#print((l1.latitude, l1.longitude))

#ladd2 = "Colorado"
#print("\nLocation address:",ladd2)
#location = geolocator.geocode(ladd2)
#print("Latitude and Longitude of the said address:")
#print((location.latitude, location.longitude))

Location address: patiala
Latitude and Longitude of the said address:
(30.2090874, 76.3398720856221)

Location address: Shimoga
Latitude and Longitude of the said address:
(13.9326093, 75.574978)

In [ ]:
import geopy.distance

geopy.distance.distance((l1.latitude, l1.longitude), (location.latitude, location.longitude)).km

1804.1127161797162

In [ ]:
#Read file containing location details
df = pd.read_csv('https://drive.google.com/uc?id=19JERBe0ndadkMPKDFZ0rTEZqdI50zDfk')
df.head(10)

         lat        lng      store                                 address
0  40.711000 -74.000878  Starbucks        375 Pearl st, New York, NY 10038
1  40.707142 -74.004987  Starbucks     135 John Street, New York, NY 10038
2  40.708411 -74.007404  Starbucks  100 William Street, New York, NY 10038
3  40.711644 -74.006667  Starbucks     38 Park Row, #4, New York, NY 10038
4  40.710171 -74.007931  Starbucks   130 Fulton Street, New York, NY 10038
5  40.706316 -74.006582  Starbucks      80 Pine Street, New York, NY 10005
6  40.712208 -74.008192  Starbucks        233 Broadway, New York, NY 10279
7  40.708742 -74.009508  Starbucks   55 Liberty Street, New York, NY 10005
8  40.706033 -74.008348  Starbucks          60 Wall St, New York, NY 10005
9  40.704817 -74.007231  Starbucks         99 Wall St., New York, NY 10005

In [ ]:
#Merge Columns
df['Coordinate'] = '('+df['lat'].astype(str) + ', ' + df['lng'].astype(str)+')'
df.head(10)

,lat,lng,store,address,Coordinate
0,40.711000,-74.000878,Starbucks,"375 Pearl st, New York, NY 10038","(40.711, -74.000878)"
1,40.707142,-74.004987,Starbucks,"135 John Street, New York, NY 10038","(40.707142, -74.004987)"
2,40.708411,-74.007404,Starbucks,"100 William Street, New York, NY 10038","(40.708411, -74.007404)"
3,40.711644,-74.006667,Starbucks,"38 Park Row, #4, New York, NY 10038","(40.711644, -74.006667)"
4,40.710171,-74.007931,Starbucks,"130 Fulton Street, New York, NY 10038","(40.710171, -74.007931)"
5,40.706316,-74.006582,Starbucks,"80 Pine Street, New York, NY 10005","(40.706316, -74.006582)"
6,40.712208,-74.008192,Starbucks,"233 Broadway, New York, NY 10279","(40.712208, -74.008192)"
7,40.708742,-74.009508,Starbucks,"55 Liberty Street, New York, NY 10005","(40.708742, -74.009508)"
8,40.706033,-74.008348,Starbucks,"60 Wall St, New York, NY 10005","(40.706033, -74.008348)"
9,40.704817,-74.007231,Starbucks,"99 Wall St., New York, NY 10005","(40.704817, -74.007231)"

In [ ]:
#New York Empire State Building Lat Long (Looking for any approx center point)
NY_coord = (40.748488, -73.985238)

In [ ]:
ass=df.itertuples
type(ass)

method

In [ ]:
df.columns

Index(['lat', 'lng', 'store', 'address', 'Coordinate'], dtype='object')

In [ ]:
for sd in df.itertuples(index=True):
  print(len(sd))
  print(type(sd))
  d=geopy.distance.distance(NY_coord, sd.Coordinate)
  dff=geopy.distance.distance(NY_coord, sd.Coordinate).km
  print(d,dff)
  print(type(dff))

  break

6
<class 'pandas.core.frame.Pandas'>
4.3676278007615785 km 4.3676278007615785
<class 'float'>

**1. Compute the distance of the stores**

In [ ]:
#Compute distance of every store from city center
distances_km = []

for row in df.itertuples(index=False):
   distances_km.append(
       geopy.distance.distance(NY_coord, row.Coordinate).km
   )

df['Distance'] = distances_km
df.head(10)

,lat,lng,store,address,Coordinate,Distance
0,40.711000,-74.000878,Starbucks,"375 Pearl st, New York, NY 10038","(40.711, -74.000878)",4.367628
1,40.707142,-74.004987,Starbucks,"135 John Street, New York, NY 10038","(40.707142, -74.004987)",4.885149
2,40.708411,-74.007404,Starbucks,"100 William Street, New York, NY 10038","(40.708411, -74.007404)",4.828401
3,40.711644,-74.006667,Starbucks,"38 Park Row, #4, New York, NY 10038","(40.711644, -74.006667)",4.474066
4,40.710171,-74.007931,Starbucks,"130 Fulton Street, New York, NY 10038","(40.710171, -74.007931)",4.666971
5,40.706316,-74.006582,Starbucks,"80 Pine Street, New York, NY 10005","(40.706316, -74.006582)",5.018288
6,40.712208,-74.008192,Starbucks,"233 Broadway, New York, NY 10279","(40.712208, -74.008192)",4.471204
7,40.708742,-74.009508,Starbucks,"55 Liberty Street, New York, NY 10005","(40.708742, -74.009508)",4.866712
8,40.706033,-74.008348,Starbucks,"60 Wall St, New York, NY 10005","(40.706033, -74.008348)",5.102829
9,40.704817,-74.007231,Starbucks,"99 Wall St., New York, NY 10005","(40.704817, -74.007231)",5.193348

In [ ]:
for i, row in df.iterrows():
  lat = df.at[i, 'lat']
  print(lat)
  lng = df.at[i, 'lng']
  print(lng)
  store = df.at[i, 'store']
  print(store)
  print(i)
  print()
  print(type(row))
  print()
  print()
  print(row)
  
  break

40.711
-74.000878
Starbucks
0

<class 'pandas.core.series.Series'>


lat                                     40.711
lng                                 -74.000878
store                                Starbucks
address       375 Pearl st, New York, NY 10038
Coordinate                (40.711, -74.000878)
Distance                              4.367628
Name: 0, dtype: object

In [ ]:
nn = folium.Map(location=NY_coord, zoom_start= 15)
type(nn)

folium.folium.Map

In [ ]:
j=folium.Marker(location=[lat,lng], popup=store, icon= folium.Icon(color=color)).add_to(nn)
type(j)

NameError: ignored

**2.Visualize data on a map**

In [ ]:
#Empire State Building coordinates
m = folium.Map(location=NY_coord, zoom_start= 15)

#Place markers for the stores on the map
for i, row in df.iterrows():
  lat = df.at[i, 'lat']
  lng = df.at[i, 'lng']
  store = df.at[i, 'store']

  if store == 'McDonalds':
    color = 'red'
  else:
    color = 'green'

  folium.Marker(location=[lat,lng], popup=store, icon= folium.Icon(color=color)).add_to(m)

m

**3. Compute number of stores located in a given radius**

In [ ]:
#All stores at a distance greater/less than x kms
df[df['Distance'] > 10]

**4. Compute the closest and farthest stores from Empire State Building**

In [ ]:
df_farthest = df.iloc[df.groupby('store')['Distance'].agg(pd.Series.idxmax)]
df_closest = df.iloc[df.groupby('store')['Distance'].agg(pd.Series.idxmin)]
df_new = pd.concat([df_farthest, df_closest])

In [ ]:
ds=df.groupby('store')['Distance'].agg(pd.Series.idxmax)
ds.index[:]

In [ ]:
df_new

In [ ]:
#Empire State Building coordinates
m = folium.Map(location=[40.748488, -73.985238], zoom_start= 10)

for i, rown in df_new.iterrows():
  lat = df_new.at[i, 'lat']
  lng = df_new.at[i, 'lng']
  store = df_new.at[i, 'store']

  if store == 'McDonalds':
    color = 'blue'
  else:
    color = 'green'

  folium.Marker(location=[lat,lng], popup=store, icon= folium.Icon(color=color)).add_to(m)

m

# Coffee king

In [ ]:
!pip install geopandas

In [ ]:
import numpy as np
import pandas as pd
import os
import geopandas
import requests
import pyproj

def mcdonalds():
    data = requests.get("https://www.mcdonalds.com/googleappsv2/geolocation?latitude=40.7830603&longitude=-73.9712488&radius=8.045&maxResults=30&country=us&language=en-us").json()
    
    result = []
    for row in data['features']:
        geom,prop = row['geometry'], row['properties']
        result.append({
            'store': 'McDonalds',
            'lat': geom['coordinates'][1],
            'lng': geom['coordinates'][0],
            'address': prop['addressLine1'],
        })

    return pd.DataFrame(result)


def starbucks():

    
    #Return a DataFrame with Manhattan Starbucks (store, address, lat, lng)I went to https://www.starbucks.com/store-locator and moved the map around to get center points that seem to cover Manhattan.
    
    
    map_points = (
      [40.709353, -74.002588],
      [40.72899, -73.982323],
      [40.741837, -74.008072],
      [40.741317, -73.972179],
      [40.761994, -73.959133],
      [40.763489, -73.989517],
      [40.763814, -74.01415],
      [40.781312, -73.98617],
      [40.773145, -73.960995],
      [40.79807, -73.977686],
      [40.786317, -73.928566],
      
    )

    result = []

    for lat, lng in map_points:
        url = f'https://www.starbucks.com/bff/locations?lat={lat}&lng={lng}'
        
        data = requests.get(url, headers={'x-requested-with': 'XMLHttpRequest'}).json()


        for row in data['stores']:
            result.append({
              'store': 'Starbucks',
              'lat': row['coordinates']['latitude'],
              'lng': row['coordinates']['longitude'],
              'address': ', '.join(row['addressLines'])
            })
    return pd.DataFrame(result).drop_duplicates()

def scrape_stores(target, overwrite=False):
    if not overwrite and os.path.exists(target):
        print(target, 'already exists. not scraping')
        return pd.read_excel(target)
    
    data = pd.concat([
        mcdonalds(),
        starbucks(),
    ])

    data.to_excel(target, index=False)
    return data

def manhatten_map():
    #load population and census shape file and adata 
    cols  =  ['BoroName','FIPSCode','BoroCode','CT2010','Pop2000','Pop2010','Change','ChangePC','Acres','Density']

    pop = pd.read_excel('/content/t_pl_p5_ct.xlsx', skiprows=range(7), header=None, names=cols, dtype=object)

    shape  = geopandas.read_file('/content/nyct2010.shp')

    # Filter for Manhattan 
    shape  =  shape.merge(pop.loc[:, ['CT2010', 'Pop2010']], on='CT2010')

    if not os.path.exists('map'):
        os.makedirs('map')

        # convert lat-long coordinate system and save 
    #shape  = CRS('EPSG:4326').to_proj4()
    crs=pyproj.CRS("epsg:4326")
    shape = shape.to_crs(crs)
    shape['Pop2010'] = shape['Pop2010'].astype(int)
    shape.to_file('map/population.shp')
    # save as a single blog for use by reshaper 

    shape.dissolve(by='BoroName')[['BoroCode', 'geometry']].to_file('map/single.shp')

def stores_map(stores, shape):
    geom = geopandas.points_from_xy(stores.lng,stores.lat)
    points = geopandas.GeoDataFrame(stores, geometry=geom)
    #points = points[points.intersects(shape.unary_union)]
    
    points.loc[:,['lat', 'lng','store','address']].to_csv('manhatton-stores.csv', index=False, encoding='utf8')
    points.to_file('map/points.shp')

if __name__ == '__main__':
    stores = scrape_stores('stores.xlsx', overwrite=False)
    shape = manhatten_map()
    stores_map(stores, shape)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')