# TDS Week 1 Assignment

# Imports

In [2]:
# ---------- Common ------------
import os
import time
import json
import random
import ast
from datetime import datetime

# ---------- Data Manipulation ------------
import pandas as pd
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', None)
import numpy as np

## Common helper functions

In [3]:
def display_scores(scores):
    print(f'Scores: {scores}')
    print(f'Mean: {scores.mean()}')
    print(f'Std Dev: {scores.std()}')
    return

## Get the Data

### Load Data: On data.gov.in, "Variety-wise Daily Market Prices Data of Goat 2022".

In [4]:
root_path = r"C:\Users\tusha\Jupyter_notebooks\IITM_Term_5\TDS"
os.listdir(root_path)

['.ipynb_checkpoints', 'Goat_2022.csv', 'TDS_Week_1_Assignment.ipynb']

In [5]:
data_path = os.path.join(root_path, 'Goat_2022.csv')
df = pd.read_csv(data_path)
print(f"Data Shape: {df.shape}")

Data Shape: (347, 9)

In [6]:
df.head()

,state,district,market,commodity,variety,arrival_date,min_price,max_price,modal_price
0,Karnataka,Belgaum,Ramdurga,Goat,Goat,23/01/2022,2500,8000,6900
1,Karnataka,Belgaum,Ramdurga,Goat,Goat,30/01/2022,2500,6000,4900
2,Karnataka,Belgaum,Ramdurga,Goat,Goat,06/02/2022,2300,6400,5700
3,Karnataka,Belgaum,Ramdurga,Goat,Goat,13/02/2022,3000,8100,6900
4,Karnataka,Belgaum,Ramdurga,Goat,Goat,20/02/2022,3000,6900,5800

In [9]:
df.isnull().sum(axis=0)

state           0
district        0
market          0
commodity       0
variety         0
arrival_date    0
min_price       0
max_price       0
modal_price     0
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 347 entries, 0 to 346
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state         347 non-null    object
 1   district      347 non-null    object
 2   market        347 non-null    object
 3   commodity     347 non-null    object
 4   variety       347 non-null    object
 5   arrival_date  347 non-null    object
 6   min_price     347 non-null    int64
 7   max_price     347 non-null    int64
 8   modal_price   347 non-null    int64
dtypes: int64(3), object(6)
memory usage: 24.5+ KB

### Q.1] What was the modal price of Goat (Other) in Keonjhar(Dhekikote), Keonjhar on 01/01/2022?

In [17]:
df.loc[(df['commodity']=='Goat') & (df['variety']=='Other') & (df['market']=='Keonjhar(Dhekikote)') & (df['district']=='Keonjhar') & (df['arrival_date']=='01/01/2022')]

,state,district,market,commodity,variety,arrival_date,min_price,max_price,modal_price
109,Odisha,Keonjhar,Keonjhar(Dhekikote),Goat,Other,01/01/2022,1500,3500,1500

In [18]:
df.market.value_counts()

Sonamura               42
Chuliaposi             33
Bachaibari             28
Kalyanpur              19
Chowmanu               19
Sultanpur              18
Sira                   18
Parlakhemundi          17
Jafarganj              17
Masli                  17
Keonjhar(Dhekikote)    17
Palus                  15
Teliamura              14
Kulai                  14
Gubbi                  10
Talcher                 9
Ramdurga                8
Bagepalli               7
Junnar(Bhlhe)           6
Turvekere               5
Angaura                 5
Varud(Rajura Bazar)     2
Annigeri                2
H.B. Halli              1
Bhor                    1
Anajngaon               1
Hirekerur               1
Channarayapatna         1
Name: market, dtype: int64

In [19]:
df.head(10)

,state,district,market,commodity,variety,arrival_date,min_price,max_price,modal_price
0,Karnataka,Belgaum,Ramdurga,Goat,Goat,23/01/2022,2500,8000,6900
1,Karnataka,Belgaum,Ramdurga,Goat,Goat,30/01/2022,2500,6000,4900
2,Karnataka,Belgaum,Ramdurga,Goat,Goat,06/02/2022,2300,6400,5700
3,Karnataka,Belgaum,Ramdurga,Goat,Goat,13/02/2022,3000,8100,6900
4,Karnataka,Belgaum,Ramdurga,Goat,Goat,20/02/2022,3000,6900,5800
5,Karnataka,Belgaum,Ramdurga,Goat,Goat,06/03/2022,2800,6000,5200
6,Karnataka,Belgaum,Ramdurga,Goat,Goat,13/03/2022,2800,7300,6900
7,Karnataka,Belgaum,Ramdurga,Goat,Goat,01/05/2022,3400,6900,5000
8,Karnataka,Bellary,H.B. Halli,Goat,Goat,31/01/2022,3500,13000,7500
9,Karnataka,Chikmagalur,Bagepalli,Goat,Goat,05/02/2022,4400,6200,5400