# TDS Week 2 Assignment

# Imports

In [99]:
import os
import re
import time
import json
import random
import ast
from datetime import datetime

import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

import wikipedia as wk

from urllib.parse import urlencode, urljoin
import urllib.request

import tabula
from tabula import convert_into

from geopy.geocoders import Nominatim

import warnings
warnings.filterwarnings("ignore")

In [2]:
# Following are wrong api
# from urllib.parse import urldevelop
# from urllib.parse import urlformulate

## Load tables in excel

In [4]:
# url = https://www.timeanddate.com/weather/india/chennai/ext
    
# there are 2 tables on the webpage
# Open Excel
# Data -> Get Data -> From other sources -> from web ->  paste url
# -> connect -> OK -> table view -> select table -> Load 
# -> then queries connection side tab will open
# -> double click Table 0 from side tab -> modify columns
# -> in Home tab select close & load
# -> Right click on table and select refresh

## BBC Weather

In [12]:
# This code snippet takes city name as input and it hits the BBC 
# Weahter API with a request for location ID. This location ID is 
# used as input in the next part of the code to scrape weather 
# forecast for the city using this location ID.

# Web scraping might not be legal always. It is a good idea to 
# check the terms of the website you plan to scrape before proceeding. 
# Also, if your code requests a url from a server multiple times, 
# it is a good practice to either cache your requests, or insert a 
# timed delay between consecutive requests.

In [13]:
url = "https://www.bbc.com/weather/5380748"
#  it uses api to retrieve data, we use that url

In [14]:
test_city = "New York"
location_url = 'https://locator-service.api.bbci.co.uk/locations?' + urlencode({
   'api_key': 'AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv',
   's': test_city,
   'stack': 'aws',
   'locale': 'en',
   'filter': 'international',
   'place-types': 'settlement,airport,district',
   'order': 'importance',
   'a': 'true',
   'format': 'json'
})

location_url

# 'https://locator-service.api.bbci.co.uk/locations?api_key=AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv&amp;s=New+York&amp;stack=aws&amp;locale=en&amp;filter=international&amp;place-types=settlement%2Cairport%2Cdistrict&amp;order=importance&amp;a=true&amp;format=json'

'https://locator-service.api.bbci.co.uk/locations?api_key=AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv&s=New+York&stack=aws&locale=en&filter=international&place-types=settlement%2Cairport%2Cdistrict&order=importance&a=true&format=json'

In [15]:
result = requests.get(location_url).json()
result

# {'response': {'results': {'results': [{'id': '5128581',
#      'name': 'New York',
#      'container': 'United States',
#      'containerId': 6252001,
#      'language': 'en',
#      'timezone': 'America/New_York',
#      'country': 'US',
#      'latitude': 40.71427,
#      'longitude': -74.00597,
#      'placeType': 'settlement'},
#     {'id': '2641508',
#      'name': 'New York',
#      'container': 'Lincolnshire',
#      'containerId': 2644486,
#      'language': 'en',
#      'timezone': 'Europe/London',
#      'country': 'GB',
#      'latitude': 53.07897,
#      'longitude': -0.14008,
#      'placeType': 'settlement',
#      'topicId': 'cr0mejz7n26t'}],
#    'totalResults': 2}}}

{'response': {'results': {'results': [{'id': '5128581',
     'name': 'New York',
     'container': 'United States',
     'containerId': 6252001,
     'language': 'en',
     'timezone': 'America/New_York',
     'country': 'US',
     'latitude': 40.71427,
     'longitude': -74.00597,
     'placeType': 'settlement'},
    {'id': '2641508',
     'name': 'New York',
     'container': 'Lincolnshire',
     'containerId': 2644486,
     'language': 'en',
     'timezone': 'Europe/London',
     'country': 'GB',
     'latitude': 53.07897,
     'longitude': -0.14008,
     'placeType': 'settlement',
     'topicId': 'cr0mejz7n26t'}],
   'totalResults': 2}}}

In [16]:
result['response']['results']['results'][0]['id']

'5128581'

In [17]:
def getlocid(city):
    city = city.lower() # convert city name to lowercase to standardize format
    # Convert into an API call using URL encoding
    location_url = 'https://locator-service.api.bbci.co.uk/locations?' + urlencode({
      'api_key': 'AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv',
      's': city,
      'stack': 'aws',
      'locale': 'en',
      'filter': 'international',
      'place-types': 'settlement,airport,district',
      'order': 'importance',
      'a': 'true',
      'format': 'json'
    })
    result = requests.get(location_url).json()
    locid = result['response']['results']['results'][0]['id']
    return locid

In [18]:
getlocid('Toronto')

'6167865'

## BBC Scrape with BeautifulSoup

In [19]:
# This example scrapes the BBC weather website for any specific city, 
# and collects weather forecast for the next 14 days and saves it 
# as a csv file.

In [20]:
# 'https://www.bbc.com/weather/1275339' # 1275339 is Mumbai city ID
city_id = 1275339
url      = f'https://www.bbc.com/weather/{city_id}'
response = requests.get(url)
response.ok

True

In [22]:
soup = bs(response.content,'html.parser')

In [23]:
daily_high_values = soup.findAll('span', attrs={'class': 'wr-day-temperature__high-value'}) # block-type: span; identifier type: class; and class name: wr-day-temperature__high-value 
len(daily_high_values)

13

In [24]:
daily_high_values[0]

<span class="wr-day-temperature__high-value"><span class="wr-value--temperature"><span class="wr-value--temperature--c">31°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">88°</span></span></span>

In [25]:
daily_low_values  = soup.find_all('span', attrs={'class': 'wr-day-temperature__low-value'})
len(daily_low_values)

14

In [26]:
daily_summary = soup.find('div', attrs={'class': 'wr-day-summary'})
daily_summary.text

'Thundery showers and a gentle breezeLight cloud and a gentle breezeLight cloud and a gentle breezeLight rain showers and a gentle breezeThundery showers and a gentle breezeThundery showers and a moderate breezeThundery showers and a moderate breezeThundery showers and a moderate breezeThundery showers and a moderate breezeThundery showers and a moderate breezeThundery showers and a moderate breezeThundery showers and a moderate breezeThundery showers and a moderate breezeThundery showers and a moderate breeze'

In [28]:
daily_high_values[0].text.strip()

'31° 88°'

In [29]:
daily_high_values[0].text.strip().split()[0]

'31°'

In [30]:
daily_high_values_list = [daily_high_values[i].text.strip().split()[0] for i in range(len(daily_high_values))]
print(daily_high_values_list)

['31°', '31°', '31°', '30°', '30°', '30°', '29°', '29°', '29°', '29°', '29°', '29°', '29°']

In [31]:
daily_low_values_list = [daily_low_values[i].text.strip().split()[0] for i in range(len(daily_low_values))]

In [32]:
daily_summary_list = re.findall('[a-zA-Z][^A-Z]*', daily_summary.text) #split the string on uppercase
print(daily_summary_list)

['Thundery showers and a gentle breeze', 'Light cloud and a gentle breeze', 'Light cloud and a gentle breeze', 'Light rain showers and a gentle breeze', 'Thundery showers and a gentle breeze', 'Thundery showers and a moderate breeze', 'Thundery showers and a moderate breeze', 'Thundery showers and a moderate breeze', 'Thundery showers and a moderate breeze', 'Thundery showers and a moderate breeze', 'Thundery showers and a moderate breeze', 'Thundery showers and a moderate breeze', 'Thundery showers and a moderate breeze', 'Thundery showers and a moderate breeze']

In [36]:
datelist = pd.date_range(datetime.today(), periods=len(daily_high_values)).tolist()
datelist

[Timestamp('2022-06-23 18:49:00.364335', freq='D'),
 Timestamp('2022-06-24 18:49:00.364335', freq='D'),
 Timestamp('2022-06-25 18:49:00.364335', freq='D'),
 Timestamp('2022-06-26 18:49:00.364335', freq='D'),
 Timestamp('2022-06-27 18:49:00.364335', freq='D'),
 Timestamp('2022-06-28 18:49:00.364335', freq='D'),
 Timestamp('2022-06-29 18:49:00.364335', freq='D'),
 Timestamp('2022-06-30 18:49:00.364335', freq='D'),
 Timestamp('2022-07-01 18:49:00.364335', freq='D'),
 Timestamp('2022-07-02 18:49:00.364335', freq='D'),
 Timestamp('2022-07-03 18:49:00.364335', freq='D'),
 Timestamp('2022-07-04 18:49:00.364335', freq='D'),
 Timestamp('2022-07-05 18:49:00.364335', freq='D')]

In [37]:
datelist = [datelist[i].date().strftime('%y-%m-%d') for i in range(len(datelist))]
datelist

['22-06-23',
 '22-06-24',
 '22-06-25',
 '22-06-26',
 '22-06-27',
 '22-06-28',
 '22-06-29',
 '22-06-30',
 '22-07-01',
 '22-07-02',
 '22-07-03',
 '22-07-04',
 '22-07-05']

In [38]:
zipped = zip(datelist, daily_high_values_list, daily_low_values_list, daily_summary_list)

In [39]:
df = pd.DataFrame(list(zipped), columns=['Date', 'High','Low', 'Summary'])

In [40]:
display(df)

        Date High  Low                                 Summary
0   22-06-23  31°  24°    Thundery showers and a gentle breeze
1   22-06-24  31°  26°         Light cloud and a gentle breeze
2   22-06-25  31°  26°         Light cloud and a gentle breeze
3   22-06-26  30°  26°  Light rain showers and a gentle breeze
4   22-06-27  30°  27°    Thundery showers and a gentle breeze
5   22-06-28  30°  26°  Thundery showers and a moderate breeze
6   22-06-29  29°  26°  Thundery showers and a moderate breeze
7   22-06-30  29°  26°  Thundery showers and a moderate breeze
8   22-07-01  29°  26°  Thundery showers and a moderate breeze
9   22-07-02  29°  26°  Thundery showers and a moderate breeze
10  22-07-03  29°  26°  Thundery showers and a moderate breeze
11  22-07-04  29°  26°  Thundery showers and a moderate breeze
12  22-07-05  29°  26°  Thundery showers and a moderate breeze

In [41]:
# remove the 'degree' character
df.High = df.High.replace('\°','',regex=True).astype(float)
df.Low  = df.Low.replace('\°','',regex=True).astype(float)

In [42]:
display(df)

        Date  High   Low                                 Summary
0   22-06-23  31.0  24.0    Thundery showers and a gentle breeze
1   22-06-24  31.0  26.0         Light cloud and a gentle breeze
2   22-06-25  31.0  26.0         Light cloud and a gentle breeze
3   22-06-26  30.0  26.0  Light rain showers and a gentle breeze
4   22-06-27  30.0  27.0    Thundery showers and a gentle breeze
5   22-06-28  30.0  26.0  Thundery showers and a moderate breeze
6   22-06-29  29.0  26.0  Thundery showers and a moderate breeze
7   22-06-30  29.0  26.0  Thundery showers and a moderate breeze
8   22-07-01  29.0  26.0  Thundery showers and a moderate breeze
9   22-07-02  29.0  26.0  Thundery showers and a moderate breeze
10  22-07-03  29.0  26.0  Thundery showers and a moderate breeze
11  22-07-04  29.0  26.0  Thundery showers and a moderate breeze
12  22-07-05  29.0  26.0  Thundery showers and a moderate breeze

In [43]:
#location = soup.find('div', attrs={'class':'wr-c-location'})
location = soup.find('h1', attrs={'id':'wr-location-name-id'})
location.text.split()

['Mumbai', '-', 'Weather', 'warnings', 'issued']

In [44]:
# create a recording
filename_csv = location.text.split()[0]+'.csv'
df.to_csv(filename_csv, index=None)

In [45]:
# filename_xlsx = location.text.split()[0]+'.xlsx'
# df.to_excel(filename_xlsx)

## Scrape IMDB

In [46]:
url = "https://www.imdb.com/chart/top/"
response = requests.get(url)
soup = bs(response.content,'html.parser')

In [48]:
movie_title = []
movie_year = []
movie_rating = []

In [49]:
imdb_table = soup.find(class_="chart full-width")
movie_titlecolumn = imdb_table.find_all(class_="titleColumn")
movie_ratingscolumn = imdb_table.find_all(class_="ratingColumn imdbRating")

In [50]:
for row in movie_titlecolumn:
    title = row.a.text # tag content extraction
    movie_title.append(title)
    
print(len(movie_title))
print(movie_title[:5])

250
['The Shawshank Redemption', 'The Godfather', 'The Dark Knight', 'The Godfather Part II', '12 Angry Men']

In [51]:
for row in movie_titlecolumn:
    year = row.span.text # tag content extraction
    movie_year.append(year)
    
print(len(movie_year))
print(movie_year[:5])

250
['(1994)', '(1972)', '(2008)', '(1974)', '(1957)']

In [52]:
for row in movie_ratingscolumn:
    rating = row.strong.text # tag content extraction
    movie_rating.append(rating)
    
print(len(movie_rating))
print(movie_rating[:5])

250
['9.2', '9.2', '9.0', '9.0', '8.9']

In [53]:
movie_df = pd.DataFrame({'Movie Title': movie_title, 'Year of Release': movie_year, 'IMDb Rating': movie_rating})
movie_df.head(3)

                Movie Title Year of Release IMDb Rating
0  The Shawshank Redemption          (1994)         9.2
1             The Godfather          (1972)         9.2
2           The Dark Knight          (2008)         9.0

In [54]:
movie_df.shape

(250, 3)

## Wikipedia

In [65]:
x = wk.search("Kingsport")
print(len(x), "\n", x)

10
 ['Kingsport, Tennessee', 'Kingsport (disambiguation)', 'Kingsport Mets', 'Lovecraft Country', 'Kingsport Axmen', 'Tri-Cities, Tennessee', 'Appalachian League', 'Kingsport, Nova Scotia', 'Kingsport City Schools', 'Kingsport–Bristol–Bristol, Tennessee-Virginia Metropolitan Statistical Area']

In [3]:
# ?urlencode
# ?urljoin

### IITM

In [66]:
print(wk.search("IIT Madras"))

['IIT Madras', 'Indian Institutes of Technology', 'Joint Entrance Examination – Advanced', 'Inter IIT Sports Meet', 'IIT Tirupati', 'List of IIT Madras people', 'IIT Palakkad', 'History of Indian Institutes of Technology', 'IIT Kharagpur', 'Chennai']

In [67]:
print(wk.search("IIT Madras", results=2))

['IIT Madras', 'Indian Institutes of Technology']

In [68]:
print(wk.summary("IIT Madras"))

Indian Institute of Technology Madras (IIT Madras) is a public technical university located in Chennai, Tamil Nadu, India. As one of the Indian Institutes of Technology (IITs), it is recognized as an Institute of National Importance and has been consistently rated as one of India's most prestigious universities. Founded in 1959 with technical and financial assistance from the former government of West Germany, it was the third IIT established by the Government of India. IIT Madras is ranked the top engineering institute in India by the Ministry of Education's National Institutional Ranking Framework since its inception in 2016.IIT Madras is a residential institute that occupies a 2.5-square-kilometre (0.97 sq mi) campus that was formerly part of the adjoining Guindy National Park. The institute has nearly 600 faculty, 10,000 students and 1,250 administrative and supporting staff. Growing ever since it obtained its charter from the Indian Parliament in 1961, much of the campus is a protected forest, carved out of the Guindy National Park, home to large numbers of chital (spotted deer), black buck, bonnet macaque, and other rare wildlife. A natural lake, deepened in 1988 and 2003, drains most of its rainwater.

In [69]:
print(wk.summary("IIT Madras", sentences=2))

Indian Institute of Technology Madras (IIT Madras) is a public technical university located in Chennai, Tamil Nadu, India. As one of the Indian Institutes of Technology (IITs), it is recognized as an Institute of National Importance and has been consistently rated as one of India's most prestigious universities.

In [70]:
full_page = wk.page("IIT Madras")

In [71]:
print(full_page.content)

Indian Institute of Technology Madras (IIT Madras) is a public technical university located in Chennai, Tamil Nadu, India. As one of the Indian Institutes of Technology (IITs), it is recognized as an Institute of National Importance and has been consistently rated as one of India's most prestigious universities. Founded in 1959 with technical and financial assistance from the former government of West Germany, it was the third IIT established by the Government of India. IIT Madras is ranked the top engineering institute in India by the Ministry of Education's National Institutional Ranking Framework since its inception in 2016.IIT Madras is a residential institute that occupies a 2.5-square-kilometre (0.97 sq mi) campus that was formerly part of the adjoining Guindy National Park. The institute has nearly 600 faculty, 10,000 students and 1,250 administrative and supporting staff. Growing ever since it obtained its charter from the Indian Parliament in 1961, much of the campus is a protected forest, carved out of the Guindy National Park, home to large numbers of chital (spotted deer), black buck, bonnet macaque, and other rare wildlife. A natural lake, deepened in 1988 and 2003, drains most of its rainwater.


== History ==

In 1956, the West German Government offered technical assistance for establishing an institute of higher education in engineering in India. The first Indo-German agreement was signed in Bonn, West Germany in 1959 for the establishment of the Indian Institute of Technology at Madras. IIT Madras was started with technical, academic and financial assistance from the Government of West Germany and was at the time the largest international educational project sponsored by the West German government. The Government of the Federal Republic of Germany has agreed to provide the following assistance in the establishment of a higher technological institute at Madras:

A workshop, laboratory equipment, and a library whose total value does not exceed ₹1.8 crore (US$240,000).
Twenty German professors to serve at the Institute for a period of four to five years
Four German foremen for the workshops of the Institute for 2 years
Facilities for the training of twenty Indian teachers in German institutionsThis has led to several collaborative research efforts with universities and institutions in Germany over the years. Although official support from the German government has ended, several research efforts involving the DAAD programme and Humboldt Fellowships still exist.
The Higher Technological Institute at Madras known as the Indian Institute of Technology, Madras has started functioning The first batch of 120 students was admitted in July 1959 to the first year of the Engineering Course. The institute was inaugurated in 1959, by the then Union Minister for Scientific Research and Cultural Affairs. The first batch had an overall strength of 120 students from across India. In 1961, the IITs were declared to be Institutes of National Importance. The first convocation ceremony was held on 11 July 1964, with Dr. S. Radhakrishnan, then the President of India, delivering the convocation address and awarding the degrees to the inaugural batch of students. The institute got its first women students in the BTech batch of 1966. IIT Madras celebrated its Golden Jubilee in 2009, and its Diamond Jubilee in 2019.


== Campus ==
The main entrance of IIT Madras is on Sardar Patel Road, flanked by the residential districts of Adyar and Velachery. The campus is close to the Raj Bhavan, the official seat of the Governor of Tamil Nadu. Other entrances are located in Velachery (near Anna Garden MTC bus stop, Velachery Main Road), Gandhi Road and Taramani gate (close to Ascendas Tech Park).
The campus is located 10 km (6.2 mi) from the Chennai Airport, 12 km (7.5 mi) from the Chennai Central Railway station, and is connected by city buses. Kasturba Nagar is the nearest station on the Chennai MRTS line.
Two parallel roads, Bonn Avenue and Delhi Avenue, cut through the faculty residential area before they meet at the Gajendra Circle, near the Administrative Block. Buses regularly ply between the Main Gate, Gajendra Circle, the Academic Zone, and the Hostel Zone.


=== Student Hostels ===
Most students at IIT Madras reside in hostels, where extracurricular activities complement the academic routine. The campus has 20 hostels, of which four, Sharavati, Sarayu, Sabarmati and the recently constructed Tunga are exclusively for women. In earlier times, each hostel had attached dining facilities but all of them have since been closed down. Dining facilities are provided in three centralised halls: Nilgiri, Vindhya and Himalaya. Students are assigned to hostels upon matriculation, where they usually reside for the entire duration of their course of study.

The halls of IITM are:

Sindhu, Pampa, Mahanadhi and Tamiraparani are seven-storeyed whereas all the other hostels are three or four storeyed. These four hostels can accommodate more than 1,200 students. The older hostels were all three-storeyed till the early 2000s when extra rooms were added. An additional new floor in the three-storeyed hostels which generally house the undergraduate students and a new block in place of the mess halls of these hostels have been constructed to accommodate for the increased intake of the students. These new blocks could be used as entrances for these hostels. As of 2020, Mandakini has been demolished and a multi-storey block is under construction, with provision to accommodate approximately 1000 students.


=== Facilities ===
IIT Madras provides residential accommodation for its students, faculty, administrative and supporting staff, and their families. The residential houses employ private caterers. The self-contained campus includes two schools               (Vanavani and Kendriya Vidyalaya), three temples (Jalakanteshwara, Durga Peliamman and Ganapathi), three bank branches (SBI, ICICI, Canara Bank), a hospital, shopping centres, food shops, a gym, sleeping room and cricket, football, hockey and badminton stadiums. Internet is available in the academic zone and the faculty and staff residential zone. Earlier Internet was limited in hostel-zone from 2:00 pm till midnight and from 5:00 am to 8:00 am, but increasing demand during academic semester led to round-the-clock Internet service.IIT Madras also has supercomputing capability, with the IBM Virgo Super Cluster with 97 teraflops worth of computational power.


== Organisation and administration ==


=== Governance ===
IIT Madras is an autonomous statutory organisation functioning within the Institutes of Technology Act. The sixteen IITs are administered centrally by the IIT Council, an apex body established by the Government of India. The Minister of Human Resources and Development is the chairman of the council. Each institute has a Board of Governors responsible for its administration and control.
The Senate comprises all professors of the Institute and decides its academic policy. It controls and approves the curriculum, courses, examinations, and results. It appoints committees to examine specific academic matters. The Director of the institute serves as the Chairman of the Senate. The current director is Kamakoti Veezhinathan.Three Senate Sub-Committees – The Board of Academic Research, The Board of Academic Courses and The Board of Students – help in academic administration and in the operations of the institute. The Finance Committee advises on matters of financial policy, while the Building and Works Committee advises on buildings and infrastructure. The Board of Industrial Consultancy and Sponsored Research addresses industrial consultancy and the Library Advisory Committee oversees library matters.


=== Departments ===
Aerospace Engineering
Applied Mechanics
Biotechnology (Bhupat and Jyoti Mehta School of Biosciences)
Chemical Engineering
Chemistry
Civil Engineering
Computer Science and Engineering
Electrical Engineering
Engineering Design
Humanities and Social Sciences
Mechanical Engineering
Management Studies
Metallurgical and Materials Engineering
Mathematics
Ocean Engineering
Physics


== Academics ==
IIT Madras offers undergraduate, postgraduate and research degrees across 16 disciplines in Engineering, Sciences, Humanities and Management. About 600 faculty belonging to science and engineering departments and centres of the Institute are engaged in teaching, research and industrial consultancy.
The institute has 16 academic departments and advanced research centres across disciplines of engineering and pure sciences, with nearly 100 laboratories. The academic calendar is organised around the semester. Each semester provides a minimum of seventy days of instruction in English. Students are evaluated on a continuous basis throughout the semester. Evaluation is done by the faculty, a consequence of the autonomous status granted to the institute. Research work is evaluated on the basis of the review thesis by peer examiners both from within the country and abroad. Ordinances that govern the academic programme of study are prepared by the Senate, the highest academic body within the institute.


=== Admission tests ===
For the undergraduate curriculum, admission to the BTech and Dual Degree (BSc + MSc or BTech + MTech) programme is done through the Joint Entrance Examination – Advanced (JEE-Advanced). IIT Madras conducted JEE Advanced in 2017. Admission to the five-year integrated Master of Arts (MA) programme is through the Humanities and Social Sciences Entrance Examination (HSEE), an IIT Madras specific exam. Admissions to the online degree programme for B.Sc. in Programming and Data Science are done through a Qualifier Process which includes four weeks of instruction in Computational Thinking, Mathematics, Statistics and English.For the postgraduate curriculum, admission to the MTech and MS programmes are through the Graduate Aptitude Test in Engineering (GATE). The Joint Admission Test to MSc (JAM) is the entrance exam for the two-year MSc programme, and other post BSc programmes. MBA candidates are accepted through the Common Admission Test (CAT).


=== Rankings ===
Internationally, IIT Madras was ranked 255 in the QS World University Rankings of 2022. The same rankings ranked it 50 in Asia in 2021 and 17 among BRICS nations in 2019. It was ranked 701–800 in the world by the Academic Ranking of World Universities of 2021.IIT Madras also ranked first among engineering colleges by the National Institutional Ranking Framework (NIRF) in 2020 and first overall. It ranked first in Atal Rankings of Institutions on Innovation Achievements (ARIIA) for three consecutive years from 2019 to 2021.


=== Grading System and Student Evaluation ===
The Indian Institutes of Technology are under control of the Government of India and therefore have strict rules for grade.
Depending on the course the evaluation is based on participation in class, attendance, quiz, exam and/or paper. Continuous evaluation is done by course instructors.
The Evaluation System of IIT Madras which is also used in other IITs is the Cumulative Grade Point Average with a scale from 0 to 10 which is converted to letters:

CGPA then gets calculated as the cumulative credit-weighted average of the grade points:
CGPA = (Σ Ci • GPi) / (Σ Ci)
where:
N is the number of courses
Ci is credits for the ith course
GPi is grade points for the ith course
CGPA is the cumulative grade point average
The CGPA is not the same as the one commonly used in the United States.
In India some credits might be awarded during Bachelor studies for Co-curricular and Extra-curricular Activities, while during the Master Programme this is not allowed.
Through agreements with numerous international organisations, IIT grades are accepted from many international organisations like NTU, NUS and DAAD.
Additionally, the attendance of the students is evaluated with VG for very good (always present), G for good (not present every lecture) and P for poor (student was present less than 85% of lectures).


=== Academic research programmes ===
The institute has departments and advanced research centres across the disciplines of engineering and the pure sciences, and nearly 100 laboratories.Research programmes concern work undertaken by faculty members or specific research groups within departments that award an MS or PhD degree. Research is carried out by scholars admitted into these departmental programmes, under the guidance of their faculty.  Each department makes known its areas of interest to the academic community through handbooks, brochures and bulletins. Topics of interest may be theoretical or experimental. IIT Madras has initiated 16 inter-disciplinary research projects against identified focus areas.


=== Partnership with other universities ===
The institute maintains academic friendship with educational institutes around the world through faculty exchange programmes. The institute has signed Memoranda of Understanding (MOUs) with foreign universities, resulting in cooperative projects and assignments.


=== Industrial Consultancy and Sponsored Research ===
Through industrial consultancy, faculty and staff undertake assignments for industry that may include project design, testing and evaluation, or training in new areas of industrial development. Industries and organisations like the Indian Ordnance Factories, reach out to the IIT faculty to undertake assignments channeled through the Centre For Industrial Consultancy and Sponsored Research (ICSR).
National organisations sponsor programmes of research by funding projects undertaken by the faculty. Such research is time bound and allows project participants to register for a degree.  Project proposals are usually prepared by the IIT faculty and forwarded to interested organisations, based on the nature of their research and their interest to fund such projects.
Sponsored projects are often vehicles for new resources within departments, and often permit their project staff to register for academic degrees in the institute. All sponsored research activities at the institute are coordinated by ICSR.
Park
The IIT Madras Research Park, the first of its kind to be established in India, functions to propel successful innovation in established companies and provide a nurturing ecosystem to startups through incubation efforts and technical infrastructure. Following its success, 50 research parks were planned as part of Start Up India initiative of the Central Government of India. Corporate clients of IIT Madras Research park include Bharat Heavy Electricals Limited, Saint-Gobain and Forbes Marshall. Ather Energy, Hyperverge and Gyandata are some of the startups incubated at the Research Park. The Research Park is primarily reason why a very large number of startups are incubated at IIT Madras.


=== National Programme on Technology Enhanced Learning (NPTEL) ===
To improve the quality of higher education in India, IIT Madras came up with an initiative called NPTEL (National Programme on Technology Enhanced Learning) in the year 2003. As per this initiative, all the IITs, along with the IISc Bangalore would come up with a series of video lecture based courses across all the streams of engineering. This initiative has gained wide popularity in India and the lectures are being used by several engineering students from across India. It is the Largest online repository in the world of courses in engineering, basic sciences and selected humanities and social sciences subjects.


=== BSc Degree Programme in Programming and Data Science. ===
The institute launched the country's first online BSc program in Programming and Data Science. The 116 credit program consists of three levels—Foundation (32 credits), Diploma (48 credits), and Degree (36 credits). The faculty of the program include Madhavan Mukund (Department of Computer Science & Engineering, Chennai Mathematical Institute), Rajesh Kumar (Professor, Department of Humanities and Social Sciences, IIT Madras), Andrew Thangaraj (Professor, Electrical Engineering Department, IIT Madras), Sudarshan Iyengar (Associate Professor, Department of Computer Science and Engineering, IIT Ropar), and several more faculty, instructors and mentors.

The first batch of 8,154 students who joined the program in 2020 have brought unprecedented diversity: Prathap Haridoss, professor in charge of the online degree programme, said nearly 30% of the learners are working professionals from IT, banking, manufacturing, finance, law, healthcare, marketing and other sectors.The institute has been working with experts from NPTEL to manage the program. Instruction is via recorded videos followed by activity questions. There are at least three sessions per week for each course subject that allow students to interact, discuss and study. Weekly graded assignments, monthly quizzes and an end term final exam are used to award grades as per the IIT Grading System. The in-person quizzes and exams are conducted at the test centres across the country.
In additional to a challenging academic curriculum, the students are encouraged to participate in various professional development, skill development and social activities organized by the institute, students and their clubs. In April 2021, the BSc program department organized the  'Cricket Hackathon 2021' for students, professionals, and data science enthusiasts. The academic competition was designed for beginners to learn and compete, as well as for professionals to showcase their capabilities in programming, data science, and analytics.


== Student activities ==


=== Festivals ===


==== Shaastra ====

Shaastra is the annual technical festival of IIT Madras. It is typically held in the second week of January and is the first ISO 9001:2015 certified student organised festival in the world. It is known for its organisation and activities. Forums include the symposia, workshops, video conferences, lectures, demonstrations, and technical exhibitions. Competitive activities cover design events, programming, simulations, quizzes, applied engineering, speedcubing, robotics, and junk-yard wars.


==== Saarang ====

Saarang is the annual social and cultural festival of IIT Madras. It is a five-day-long event held in early January every year and attracts a crowd of 70,000 students and young people from across the country, making it the largest student-run fest in India. Saarang events include speaking, dancing, thespian, quizzing and word games, professional shows (nicknamed proshows) and workshops on music, fashion, art, and dance.


==== Department festivals ====
Several departments organise department festivals. Samanvay, Biofest, ExeBit, Wavez, Mechanica, CEA Fest, ChemPlus, Amalgam and Forays are some of the festivals organised by the Department of Management Studies, Computer Science and Engineering, Ocean Engineering, Mechanical Engineering, Civil Engineering, Chemical Engineering, Metallurgical and Materials Engineering and Maths departments respectively. Department of Humanities and Social Sciences hosts Annual Academic Conference.


=== The Entrepreneurship Cell ===
The Entrepreneurship Cell, IITM, abbreviated as E-Cell IITM, is a student-run body responsible for promoting and inculcating a spirit of entrepreneurial thinking among both the faculty and the student fraternity of IIT Madras. E-Cell was earlier known as "C-TIDES", and was rechristened in 2015 along with a series of organizational changes in an effort to promote greater engagement among students.

In [72]:
print(full_page.url)

https://en.wikipedia.org/wiki/IIT_Madras

In [73]:
print(full_page.references)

['http://www.businessweek.com/smallbiz/news/date/9811/e981130.htm', 'http://www.hindu.com/2009/02/28/stories/2009022854140500.htm', 'http://timesofindia.indiatimes.com/tech/tech-news/IIT-Madras-is-Indias-Stanford/articleshow/46629160.cms', 'http://www.shanghairanking.com/rankings/arwu/2021', 'http://www.thehindu.com/news/cities/chennai/a-helping-hand-to-entrepreneurship/article17856871.ece', 'http://www.thehindu.com/sci-tech/technology/iitm-computer-system-gets-fastest-tag/article3972727.ece', 'http://www.thehindubusinessline.com/news/education/esummit-at-iit-madras-starts-on-april-7/article9620678.ece', 'http://archiv.tu-chemnitz.de/pub/2006/0020/data/MAthesis_EvelynRichter.pdf', 'http://www.oeb.harvard.edu/faculty/mahadevan/mahadevan-oeb.html', 'http://www.csail.mit.edu/user/723', 'http://nms.lcs.mit.edu/~hari/', 'http://ccw.iitm.ac.in/?q=IITMHostels/hinfo', 'http://www.ecell.iitm.ac.in/e-summit/', 'http://nptel.iitm.ac.in/', 'http://nptel.iitm.ac.in/pdf/NPTEL%20Document.pdf', 'http://www.nss.iitm.ac.in/', 'http://placement.iitm.ac.in/academics.html', 'http://respark.iitm.ac.in/', 'http://t5e.iitm.ac.in/', 'http://t5e.iitm.ac.in/2009/12/the-snet-energy-survey-8th-nov/', 'http://www.iitm.ac.in', 'http://www.iitm.ac.in/The%20Institute/', 'http://www.iitm.ac.in/about', 'http://www.iitm.ac.in/aboutcampus', 'http://www.iitm.ac.in/admissiontests', 'http://www.iitsystem.ac.in/IITcouncil/council.jsp', 'http://nptel.ac.in/course.php', 'http://www.frontline.in/static/html/fl2003/stories/20030214007506500.htm', 'http://ofb.gov.in/download/pr/pr_dgof_interview.pdf', 'http://ssbprize.gov.in/Content/Detail.aspx?AID=531', 'http://www.hri.res.in/~pinaki/', 'http://www.macfound.org/site/c.lkLXJ8MQKrH/b.5458019/k.8448/L_Mahadevan.htm', 'http://www.shaastra.org/2013/main', 'http://geohack.toolforge.org/geohack.php?pagename=IIT_Madras&params=12.99151_N_80.23362_E_', 'http://www.worldcat.org/issn/0971-751X', 'http://www.worldcat.org/issn/0971-8257', 'https://drive.google.com/file/d/0B0cmCKgXUt7ceHZ3SUEwa2s5bTg/view', 'https://timesofindia.indiatimes.com/city/chennai/Its-spit-of-anger-vs-kiss-of-love-at-IIT/articleshow/45183914.cms', 'https://timesofindia.indiatimes.com/city/chennai/iit-madras-diamond-jubilee-celebrations-assume-global-proportions-events-to-be-held-in-83-cities/articleshow/70143608.cms', 'https://timesofindia.indiatimes.com/city/chennai/iit-madras-alumnus-is-now-its-new-director/articleshow/88821542.cms', 'https://www.livemint.com/news/india/iit-madras-raises-700-crore-as-endowment-fund-11616957609084.html', 'https://www.ndtv.com/education/iit-madras-to-hold-open-house-to-showcase-student-innovations-2125282', 'https://www.thehindu.com/education/in-1966-she-was-iit-madras-first-woman-civil-engineering-student/article28759995.ece', 'https://www.thehindu.com/news/cities/chennai/chen-society/golden-jubilee-of-iitms-first-batch-of-graduands/article6218293.ece', 'https://www.thehindu.com/news/cities/chennai/iit-madras-named-most-innovative-institute/article38067215.ece', 'https://www.thehindu.com/news/cities/chennai/iitm-turns-60-a-chat-with-first-batch-students/article28744533.ece', 'https://www.thehindu.com/news/national/tamil-nadu/over-8100-join-iit-madras-online-bsc-degree-course/article33295371.ece', 'https://www.thenewsminute.com/tamils/287?amp', 'https://www.topuniversities.com/university-rankings/asian-university-rankings/2021', 'https://www.topuniversities.com/university-rankings/brics-rankings/2019', 'https://www.topuniversities.com/university-rankings/world-university-rankings/2022', 'https://www.youtube.com/watch?v=5485lx6wsao', 'https://aleph.nkp.cz/F/?func=find-c&local_base=aut&ccl_term=ica=ko2008435605&CON_LNG=ENG', 'https://www.projekt-mida.de/reflexicon/indo-german-entanglements-in-science-and-technology-the-indian-institute-of-technology-madras/', 'https://cms.caltech.edu/people/mani', 'https://catalogue.bnf.fr/ark:/12148/cb12442559g', 'https://data.bnf.fr/ark:/12148/cb12442559g', 'https://www.idref.fr/033570418', 'https://id.loc.gov/authorities/names/n50063099', 'https://oir.iitm.ac.in/mou/', 'https://onlinedegree.iitm.ac.in/', 'https://onlinedegree.iitm.ac.in/admissions.html#AD2', 'https://onlinedegree.iitm.ac.in/course_pages/BSCCS1002.html', 'https://onlinedegree.iitm.ac.in/course_pages/BSCHS1001.html', 'https://onlinedegree.iitm.ac.in/course_pages/BSCMA1001.html#9003', 'https://onlinedegree.iitm.ac.in/course_pages/BSCMA1004.html', 'https://research.iitm.ac.in/department_list#:~:text=RESEARCH%20AREAS,-Cellular,%20Molecular%20and&text=Bioinformatics%20and%20Computational%20Biology;%20Biomedical,Molecular%20Genetics%20of%20Plant%20Development.', 'https://respark.iitm.ac.in/iit-madras-launches-worlds-first-ever-online-b-sc-degree-in-programming-and-data-science/', 'https://www.iitm.ac.in/', 'https://www.iitm.ac.in/happenings/press-releases-and-coverages/iit-madras-launches-cricket-hackathon-2021', 'https://www.iitm.ac.in/nirfreports/nirf2016/NIRF-Overall-FullReport.pdf', 'https://www.iitm.ac.in/sites/default/files/Others/annual-budget-2021-22.pdf', 'https://www.iitm.ac.in/the-institute/administration/academic-administration', 'https://nptel.ac.in/', 'https://www.collegesearch.in/exam/jee-advanced/article/top-10-iits-in-india-2018-29-174', 'https://www.ariia.gov.in/Ranking2019.html', 'https://eparlib.nic.in/bitstream/123456789/1530/1/lsd_02_06_02-12-1958.pdf', 'https://eparlib.nic.in/bitstream/123456789/1769/1/lsd_02_08_10-08-1959.pdf', 'https://web.archive.org/web/20060427232338/http://www.iitm.ac.in/The%20Institute/', 'https://web.archive.org/web/20090303061238/http://www.hindu.com/2009/02/28/stories/2009022854140500.htm', 'https://web.archive.org/web/20091115092457/http://www.businessweek.com/smallbiz/news/date/9811/e981130.htm', 'https://web.archive.org/web/20100215010549/http://archiv.tu-chemnitz.de/pub/2006/0020/data/MAthesis_EvelynRichter.pdf', 'https://web.archive.org/web/20120113170811/http://www.nptel.iitm.ac.in/', 'https://web.archive.org/web/20120227163617/http://www.oeb.harvard.edu/faculty/mahadevan/mahadevan-oeb.html', 'https://web.archive.org/web/20120623211803/http://www.nss.iitm.ac.in/', 'https://web.archive.org/web/20120904044551/http://nptel.iitm.ac.in/pdf/NPTEL%20Document.pdf', 'https://web.archive.org/web/20130409125154/http://placement.iitm.ac.in/academics.html', 'https://web.archive.org/web/20130707013747/http://t5e.iitm.ac.in/', 'https://web.archive.org/web/20130907050154/http://www.shaastra.org/2013/main', 'https://web.archive.org/web/20140810091111/http://www.iitsystem.ac.in/IITcouncil/council.jsp', 'https://web.archive.org/web/20141103172852/http://t5e.iitm.ac.in/2009/12/the-snet-energy-survey-8th-nov/', 'https://web.archive.org/web/20161128191932/http://nptel.ac.in/course.php', 'https://web.archive.org/web/20170704084948/http://www.ecell.iitm.ac.in/e-summit/', 'https://ghostarchive.org/varchive/youtube/20211107/5485lx6wsao', 'https://isni.org/isni/000000012314788X', 'https://isni.org/isni/0000000123151926', 'https://www.nirfindia.org/2018/EngineeringRanking.html', 'https://www.nirfindia.org/2019/EngineeringRanking.html', 'https://www.nirfindia.org/2021/EngineeringRanking.html', 'https://www.nirfindia.org/2021/OverallRanking.html', 'https://www.nobelprize.org/prizes/chemistry/2019/goodenough/lecture/', 'https://viaf.org/viaf/168123199', 'https://www.wikidata.org/wiki/Q858662#identifiers', 'https://www.worldcat.org/identities/lccn-n50063099/']

In [74]:
print(full_page.title)

IIT Madras

In [75]:
print(full_page.images)

['https://upload.wikimedia.org/wikipedia/commons/f/f2/Blackbuck_white.jpg', 'https://upload.wikimedia.org/wikipedia/commons/1/1b/Brahmaputra_Hostel.jpg', 'https://upload.wikimedia.org/wikipedia/commons/c/c4/Deer_of_IIT_Madras_masatran_0058_0010.jpeg', 'https://upload.wikimedia.org/wikipedia/commons/e/e4/Godavari_Hostel_Entrance.jpg', 'https://upload.wikimedia.org/wikipedia/commons/0/08/Heritage_Center1.jpg', 'https://upload.wikimedia.org/wikipedia/commons/8/85/Pfeil_links.svg', 'https://upload.wikimedia.org/wikipedia/commons/7/76/Pfeil_oben.svg', 'https://upload.wikimedia.org/wikipedia/commons/c/c5/Pfeil_rechts.svg', 'https://upload.wikimedia.org/wikipedia/commons/c/c3/Pfeil_unten.svg', 'https://upload.wikimedia.org/wikipedia/commons/7/71/Sabarmathi_hostel2.jpg', 'https://upload.wikimedia.org/wikipedia/en/4/4a/Commons-logo.svg', 'https://upload.wikimedia.org/wikipedia/en/f/f2/Edit-clear.svg', 'https://upload.wikimedia.org/wikipedia/en/4/41/Flag_of_India.svg', 'https://upload.wikimedia.org/wikipedia/en/6/69/IIT_Madras_Logo.svg', 'https://upload.wikimedia.org/wikipedia/en/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg', 'https://upload.wikimedia.org/wikipedia/en/9/99/Question_book-new.svg', 'https://upload.wikimedia.org/wikipedia/en/9/96/Symbol_category_class.svg']

In [76]:
print(full_page.images[0])

https://upload.wikimedia.org/wikipedia/commons/f/f2/Blackbuck_white.jpg

In [79]:
#extract html code of wikipedia page based on any search text
html = wk.page("IIT Madras").html().encode("UTF-8")

In [82]:
df = pd.read_html(html)[4]  
df

  Letter Grade  Grade Points                                    in Words
0            S            10     Excellent (top students/high performer)
1            A             9                                   Very Good
2            B             8                                        Good
3            C             7                           Satisfactory Work
4            D             6                               Below Average
5            E             4                           Poor (but passed)
6            U             0                                      Failed
7            W             0  Shortage of attendance (usually below 85%)

## Geocode city, get (lat,long)

In [55]:
# If you get a HTTP Error 403 from Nominatim, use your email 
# ID instead of “myGeocoder” in Nominatim(user_agent="myGeocoder")

In [57]:
locator = Nominatim(user_agent="myGeocoder")

In [58]:
location = locator.geocode("Pune")
location

Location(Pune City, Pune, Maharashtra, India, (18.521428, 73.8544541, 0.0))

In [60]:
type(location)

geopy.location.Location

In [61]:
location.raw

{'place_id': 284820555,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'relation',
 'osm_id': 139836,
 'boundingbox': ['39.697215', '39.82119', '-94.899029', '-94.743339'],
 'lat': '39.7686055',
 'lon': '-94.8466322',
 'display_name': 'St. Joseph, Buchanan County, Missouri, United States',
 'class': 'boundary',
 'type': 'administrative',
 'importance': 0.7229305699659045,
 'icon': 'https://nominatim.openstreetmap.org/ui/mapicons/poi_boundary_administrative.p.20.png'}

In [62]:
location.address, location.altitude

('St. Joseph, Buchanan County, Missouri, United States', 0.0)

In [63]:
location = locator.geocode("St. Joseph")
location

Location(St. Joseph, Buchanan County, Missouri, United States, (39.7686055, -94.8466322, 0.0))

In [64]:
location = locator.geocode("Deerfield Beach")
location

Location(Deerfield Beach, Broward County, Florida, United States, (26.318342, -80.0996306, 0.0))

## Scrape PDFs from a Given URL

### Scrape pdf from www.premierleague.com

#### Create folder

In [95]:
# Save contents from url into folder_location
url = 'https://www.premierleague.com/publications'
folder_location = r'premier_league'
if not os.path.exists(folder_location):
    os.mkdir(folder_location)

#### Download all pdf

In [97]:
response = requests.get(url)
soup = bs(response.text, "html.parser")

In [98]:
# Loop through all PDF links in the page
for link in soup.select("a[href$='.pdf']"):
    # Local lile name is the same as PDF file name in the URL (ignoring rest of the path)
    # https://premierleague-static-files.s3.amazonaws.com/premierleague/document/2016/07/02/e1648e96-4eeb-456e-8ce0-d937d2bc7649/2011-12-premier-league-season-review.pdf
    filename = os.path.join(folder_location, link['href'].split('/')[-1])
    with open(filename, 'wb') as f:
        f.write(requests.get(urljoin(url,link['href'])).content)

#### Read table from a PDF

In [102]:
combined_pdf = folder_location + "/This-is-PL-Interactive-Combined.pdf"
df = tabula.read_pdf(combined_pdf,  pages='18') # read page 18

In [103]:
type(df)

list

In [104]:
len(df)

1

In [106]:
type(df[0])

pandas.core.frame.DataFrame

In [107]:
df[0].head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Pos,Unnamed: 3,Club,W,D,L,GD,Pts,Total payment
0,NaN,NaN,NaN,1.0,NaN,Manchester City,32.0,4.0,2.0,79.0,100.0,£149.4m
1,NaN,NaN,NaN,2.0,NaN,Manchester United,25.0,6.0,7.0,40.0,81.0,£149.8m
2,NaN,NaN,NaN,3.0,NaN,Tottenham Hotspur,23.0,8.0,7.0,38.0,77.0,£144.4m
3,NaN,NaN,NaN,4.0,NaN,Liverpool,21.0,12.0,5.0,46.0,75.0,£145.9m
4,NaN,NaN,NaN,5.0,NaN,Chelsea,21.0,7.0,10.0,24.0,70.0,£141.7m

In [108]:
convert_into(combined_pdf, folder_location +"/table_output.csv", output_format="csv",pages = 18,area=[[275,504,640,900]])

In [110]:
df = pd.read_csv(folder_location+"/table_output.csv", encoding= 'unicode_escape')
df.head()

,Pos,Unnamed: 1,Club,W,D,L,GD,Pts,Total payment
0,1.0,NaN,Manchester City,32.0,4.0,2.0,79.0,100.0,£149.4m
1,2.0,NaN,Manchester United,25.0,6.0,7.0,40.0,81.0,£149.8m
2,3.0,NaN,Tottenham Hotspur,23.0,8.0,7.0,38.0,77.0,£144.4m
3,4.0,NaN,Liverpool,21.0,12.0,5.0,46.0,75.0,£145.9m
4,5.0,NaN,Chelsea,21.0,7.0,10.0,24.0,70.0,£141.7m

### Read pdf

In [84]:
os.listdir()

['.ipynb_checkpoints',
 'actor_network.ipynb',
 'Assignment 5 question 7.txt',
 'BBC_weather_scrape.ipynb',
 'Fiona-1.8.21-cp38-cp38-win_amd64.whl',
 'GDAL-3.4.3-cp38-cp38-win_amd64.whl',
 'Geospatial_analysis2.ipynb',
 'Goat_2022.csv',
 'ImdbTextClassification.ipynb',
 'IMDB_Network_dj.ipynb',
 'master_currency.csv',
 'Mumbai.csv',
 'PDF_Scraping_MBCopy.ipynb',
 'rainfall-dataset.csv',
 'SentimentAnalysis_2.xlsx',
 'shortest_path.ipynb',
 'TDS Week 1 Assignment.ipynb',
 'TDS Week 2 Assignment.ipynb',
 'TDS Week 3 Assignment.ipynb',
 'TDS Week 4A Assignment.ipynb',
 'TDS Week 4B Assignment.ipynb',
 'TDS Week 5 Assignment.ipynb.ipynb',
 'TDS_Week_5_Dataset_1_q789.csv',
 'TDS_Week_5_Dataset_2_q10.csv',
 'week 2 scrape table from web.xlsx',
 'week 2 tables dummy.pdf',
 'week 2 tables dummy.xlsx',
 'wikipedia_library.ipynb',
 '~$week 2 tables dummy.xlsx']

In [85]:
df = tabula.read_pdf('week 2 tables dummy.pdf',
                      pages='all',
                      multiple_tables=True)

In [87]:
df[0]

,Andaman & Nicobar1 I9sl0a1nds,49.2,87.1,29.2,2.3,528.8,517.5,365.1
0,Andaman & Nicobar1 I9sl0a2nds,0.0,159.8,12.2,0.0,446.1,537.1,228.9
1,Andaman & Nicobar1 I9sl0a3nds,12.7,144.0,0.0,1.0,235.1,479.9,728.4
2,Andaman & Nicobar1 I9sl0a4nds,9.4,14.7,0.0,202.4,304.5,495.1,502.0
3,Andaman & Nicobar1 I9sl0a5nds,1.3,0.0,3.3,26.9,279.5,628.7,368.7
4,Andaman & Nicobar1 I9sl0a6nds,36.6,0.0,0.0,0.0,556.1,733.3,247.7
5,Andaman & Nicobar1 I9sl0a7nds,110.7,0.0,113.3,21.6,616.3,305.2,443.9
6,Andaman & Nicobar1 I9sl0a8nds,20.9,85.1,0.0,29.0,562.0,693.6,481.4
7,Andaman & Nicobar1 I9sl1a0nds,26.6,22.7,206.3,89.3,224.5,472.7,264.3
8,Andaman & Nicobar1 I9sl1a1nds,0.0,8.4,0.0,122.5,327.3,649.0,253.0

In [90]:
df[1]

   22-06-2023  31  24    Thundery showers and a gentle breeze
0  22-06-2024  31  26         Light cloud and a gentle breeze
1  22-06-2025  31  26         Light cloud and a gentle breeze
2  22-06-2026  30  26  Light rain showers and a gentle breeze
3  22-06-2027  30  27    Thundery showers and a gentle breeze
4  22-06-2028  30  26  Thundery showers and a moderate breeze
5  22-06-2029  29  26  Thundery showers and a moderate breeze

In [91]:
df[2]

   481.1  332.6  388.5  558.2   33.6
0  753.7  666.2  197.2  359.0  160.5
1  326.7  339.0  181.2  284.4  225.0
2  160.1  820.4  222.2  308.7   40.1
3  330.5  297.0  260.7   25.4  344.7
4  320.5  164.3  267.8  128.9   79.2
5  377.6  200.4  264.4  648.9  245.6
6  699.9  428.8  170.7  208.1  196.9
7  337.4  626.6  208.2  267.3  153.5
8  187.1  464.5  333.8   94.5  247.1

In [101]:
len(df)

3

# END